/* 设置 body 的基础样式 */
body {
	background: url('../image/bg1.webp') no-repeat center center;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
}

/* 保持文字在光波之上 */
nav,
.main {
	position: relative;
	z-index: 1;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

a.btn-kanami {
	position: relative;
	background-color: rgba(53, 53, 66, 1);
	border-radius: 50px;
	color: floralwhite;
	font-size: 1.0em;
	overflow: hidden;
	transition: 500ms;
}

a.btn-kanami span {
	position: relative;
	z-index: 2;
}

a.btn-kanami:hover {
	color: var(--clr);
	text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}

a.btn-kanami::before {
	content: '';
	position: absolute;
	top: var(--y);
	left: var(--x);
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background: radial-gradient(var(--clr), transparent, transparent);
	opacity: 0;
	transition: 500ms, top 0s, left 0s;
}

a.btn-kanami:hover::before {
	opacity: 1;
}

a.btn-kanami::after {
	content: '';
	background-color: rgba(53, 53, 66, 0.8);
	position: absolute;
	inset: 2px;
	border-radius: 30px;
}

.background2 {
	background: #353542;
	justify-content: center;
	align-items: center;
	height: 60%;
	position: absolute;
}

.background2 h2 {
	display: flex;
	font-weight: 900;
	background: #353542;
}

h2 span {
	animation: animate 3300ms linear infinite;
}

h2 span:nth-child(1) {
	position: absolute;
	left: 40%;
	top: 50%;
    animation-delay: 0s;
}

h2 span:nth-child(2) {
	position: absolute;
	left: 42%;
	top: 50%;
    animation-delay: 100ms;
}

h2 span:nth-child(3) {
	position: absolute;
	left: 45%;
	top: 50%;
    animation-delay: 200ms;
}

h2 span:nth-child(4) {
	position: absolute;
	left: 48%;
	top: 50%;
    animation-delay: 300ms;
}

h2 span:nth-child(5) {
	position: absolute;
	left: 51%;
	top: 50%;
    animation-delay: 400ms;
}

h2 span:nth-child(6) {
	position: absolute;
	left: 52%;
	top: 50%;
    animation-delay: 500ms;
}

h2 span:nth-child(7) {
	position: absolute;
	left: 55%;
	top: 50%;
    animation-delay: 600ms;
}

@keyframes animate {

    0%,
    100% {
        color: floralwhite;
        filter: blur(2px);
        text-shadow:
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff;
    }

    25%,
    75% {
        color: #353542;
        filter: blur(0px);
        text-shadow: none;
    }
}